*/target/
*/medical/
/target/
/medical/
/demo_output/
/src/main/resources/prev_directory.txt
*.csv
*.xls
*.xlsx
*.ser
~$*
!test3.csv
!test3.xml
*.DS_Store
*.prefs
*.classpath
*.project
gui/prev_directory.txt
